body {
    background-color: black;
    color: hotpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
}
#rock {
    margin: auto;
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
}
h1 {
    margin: auto;
}
