<ul>
{{#projects}}

<li {{#is ../title name}} class='activeLink'{{/iscd}}>
    <a href="/projects/{{directory}}">
    <span class="project-name">{{name}}</span>
        {{#if ../main}}
        <img src='/{{img.path}}' alt='{{img.name}}' class="screenshot"/>
        {{/if}}
    </a>
</li>
{{/projects}}   
</ul>