body {
    background-color: black;
    color: silver;
}
.items {
    padding: 1em;
    
    width: 100%;
}
.items a {
    color: silver;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
}
.items div {
    padding: 1em;
    font-size: 30px;
    margin: auto;
    max-width: 300px;
   
}
.items img {

    height: 150px;
    margin: auto;
} 
.imgWrapper {
    justify-self: left;
    margin-right: -20px;
}
