<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>{{pageTitle}}</title>
</head>
<body>
    <header>
        <h1>Portfoooolio-lio-lio</h1>
    </header>
    <main>
    {{{ body }}}
    </main>
    <footer>
        <span>Make sure your feet are clean.</span>
    </footer>
</body>
</html>