    <h1>Joe's Projects</h1>
    
    <ul id="project-list">
        {{#projects}}
        
        <li><a href={{directory}}>
            <img class="screenshot" src={{img.path}} alt={{img.name}}>
            <span class="project-name">{{name}}</span>
            </a>
        </li>
        {{/projects}}
    </ul>
