* {
    box-sizing: border-box;
}
body {
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.container {
    margin: auto;
    position: relative;
}
figure {
    width: 500px;
    height: 350px;
    border: 1em solid white;
    margin: auto;
    background-color: white;
    overflow: hidden;
}
#meme {
    width: 100%;
}
textarea {
    margin: auto;
}
#message {
     font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif; font-size: 96px; 
     color: white;
     text-shadow: 1px 0px 8px rgba(0, 0, 0, 1);
     /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
    position: absolute;
    width: 500px;
    text-align: center;
    left: 0;
    top: 100px;
    z-index: 3;
}